.powercord-lettercount {
  color: #b9bbbe;
  float: left;
  margin-bottom: -20px;
  margin-top: -16px;
  font-size: 13.5px;
}

.powercord-lettercount-value {
  float: left;
  padding-right: 4px;
}

.powercord-lettercount-maxvalue {
  float: left;
}

.powercord-lettercount-error {
  color: #f04747 !important;
}
